/* this is used for only the schedule page */

/* deals with the cards used to display classes */
hr{
  border-color:#f4c542;
}

 /* .tabcontent{
  background-color: black;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
} */

.row {
    position: relative;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.scrollbar {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    height: 300px;
    width: auto;
    background: #fff;
    overflow-y: auto;
    margin-bottom: 20px;
}
.force-overflow {
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

#open {
    background-color:#DEDCC2;
    color: #f4c542;
    font-size: 30px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

img {
  width: 75%;
}

#delSch {
  margin-left: 30%;
  margin-right: 30%;
}
